@import "tailwindcss";
@font-face {
    font-family: "Roboto",sans-serif;
    src: url("/fonts/Roboto.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@theme{
    --font-roboto:"Roboto",sans-serif;
    --color-skye-500:#c0d8de;
    --color-skye-400:#9fcfdd;
    --color-skye-300:#72b9cf;
    --color-skye-200:#3da3c1;
    --color-skye-100:#148bb3;
}
html {
  scroll-behavior: smooth;
}